<!--<div id="carouselExampleCaptions" class="carousel slide h-100" data-bs-ride="carousel">-->
  <div class="carousel-inner border-radius-lg h-100">
    <ngb-carousel *ngIf="data">
      <ng-template ngbSlide *ngFor="let image of data">
        <div id="here" class="carousel-inner border-radius-lg h-100">
          <img src="/assets/img/{{image.image}}"/>
          <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
            <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
              <i class="ni {{image.icon}} text-dark opacity-10"></i>
            </div>
            <h5 class="text-white mb-1">{{image.header}}</h5>
            <p>{{image.subtitle}}</p>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
<!--</div>-->
