<div class="card-header pb-0">
  <h6>Errores detectados en EkinsaDB (entradas/salidas no coincidentes)</h6>
</div>
<div class="card-body px-0 pt-0 pb-2" style="margin-left: 10px; margin-right: 10px; padding-top: 20px">

  <form>
    <div class="row">
      <div class="row" style="margin-left: 20px">
        <b>Rango de fechas*</b>
      </div>
      <div class="col col-sm-2 form-group" style="margin-left: 20px">
          <p-calendar id="datesRange" name="datesRange" selectionMode="range"
                      placeholder="Rango de fechas"
                      dateFormat="yymmdd"
                      [readonlyInput]="true"
                      [showButtonBar]="true"
                      [numberOfMonths]="2"
                      [minDate]="datesMinMax[0]"
                      [maxDate]="datesMinMax[1]"
                      [(ngModel)]="dateRange">
          </p-calendar>
      </div>
      <div class="col col-sm-2 d-flex justify-content-start align-items-center">
        <div class="row">
          <button (click)="searchDb()" type="button" class="btn btn-primary btn-sm ms-auto">Buscar</button>
        </div>
      </div>
    </div>
  </form>
  <p-divider></p-divider>

  <br/>

  <div class="table-responsive p-0">
    <p-table
      [value]="entriesList"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
      [loading]="loading"
      [rowsPerPageOptions]="[10, 25, 50]"
      class="table align-items-center mb-0">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tag</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fecha</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Lote</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Peso</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Zona</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Errors</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-entries>
        <tr>
          <td colspan="6" class="align-middle text-center text-sm">
            <strong class="text-bold text-center text-md-center">{{entries.tag}} - {{entries.countEntries}}
              entradas</strong>
          </td>
        </tr>
        <tr *ngFor="let entry of entries.entriesList">
          <td class="align-middle text-center text-sm">
            <a style="text-decoration: underline; cursor: pointer;" (click)="showDialog(entries.tag)"><p
              class="text-xs font-weight-bold mb-0">{{entries.tag}}</p></a>
          </td>
          <td class="align-middle text-center text-sm">
            <p class="text-xs text-secondary mb-0">{{ entry.date | date:'dd/MM/yyyy hh:mm:ss a' }}</p>
          </td>
          <td class="align-middle text-center text-sm">
            <p class="text-xs text-secondary mb-0">{{entry.lote}} </p>
          </td>
          <td class="align-middle text-center text-sm">
            <p class="text-xs text-secondary mb-0">{{entry.weigth}}</p>
          </td>
          <td class="align-middle text-center text-sm">
            <p class="text-xs text-secondary mb-0">{{entry.zone}}</p>
          </td>
          <td class="align-middle text-center text-sm">
            <span class="badge badge-sm bg-gradient-danger">Falta entrada de zona {{missingZone(entry.zone)}}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <br/>
  </div>
</div>

<p-dialog header="{{tagDialogHeader}}" [modal]="true" [(visible)]="dialogVisible" [breakpoints]="{ '960px': '75vw' }"
          [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <p-table
    [value]="dialogEntries"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [loading]="loadingDialog"
    [rowsPerPageOptions]="[10, 25, 50]"
    class="table align-items-center mb-0">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tag</th>
        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fecha</th>
        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Lote</th>
        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Peso</th>
        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Zona</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entry>
      <tr>
        <td class="align-middle text-center text-sm">
          <p class="text-xs font-weight-bold mb-0">{{entry.tag}}</p>
        </td>
        <td class="align-middle text-center text-sm">
          <p class="text-xs text-secondary mb-0">{{ entry.fecha | date:'dd/MM/yyyy hh:mm:ss a' }}</p>
        </td>
        <td class="align-middle text-center text-sm">
          <p class="text-xs text-secondary mb-0">{{entry.numeroLote}} </p>
        </td>
        <td class="align-middle text-center text-sm">
          <p class="text-xs text-secondary mb-0">{{entry.peso}}</p>
        </td>
        <td class="align-middle text-center text-sm">
          <p class="text-xs text-secondary mb-0">{{entry.idZona}}</p>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
