<div class="card-header pb-0">
  <h6>Buscar registros de Tag</h6>
</div>
<div class="card-body px-0 pt-0 pb-2" style="margin-left: 10px; margin-right: 10px; padding-top: 20px">

  <form>
    <div class="row d-flex align-items-end ">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="inputText" class="form-control-label">Identificador del tag</label>
          <input id="inputText" type="text" required="true" class="form-control" name="tagForm" [(ngModel)]="tagForm"/>
        </div>
      </div>
      <div class="col col-sm-2">
          <button (click)="searchDb()" type="button" class="btn btn-primary btn-sm ms-auto">Buscar</button>
      </div>
    </div>
  </form>
  <p-divider></p-divider>

  <br/>

  <div class="table-responsive p-0">
    <p-table
      [value]="registryList"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
      [loading]="loading"
      [rowsPerPageOptions]="[10, 25, 50]"
      class="table align-items-center mb-0">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tag</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fecha</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Lote</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Peso</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Zona</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-entry>
        <tr>
          <td class="align-middle text-center text-sm">
            <p class="text-xs font-weight-bold mb-0">{{entry.tag}}</p>
          </td>
          <td class="align-middle text-center text-sm">
            <p class="text-xs text-secondary mb-0">{{ entry.fecha | date:'dd/MM/yyyy hh:mm:ss a' }}</p>
          </td>
          <td class="align-middle text-center text-sm">
            <p class="text-xs text-secondary mb-0">{{entry.numeroLote}} </p>
          </td>
          <td class="align-middle text-center text-sm">
            <p class="text-xs text-secondary mb-0">{{entry.peso}}</p>
          </td>
          <td class="align-middle text-center text-sm">
            <p class="text-xs text-secondary mb-0">{{entry.idZona}}</p>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <br/>
  </div>
</div>
